body {
    height: 100%;
}

.home-container {
    font-family: 'Poppins';
    left: 10vw;
    position:relative;
    display: grid;
    grid-template-columns: 30% 20% 40%;
    grid-template-rows: 15% 40% 30%;
    grid-template-areas:
    "sell sell products"
    "best-sellers best-sellers best-sellers "
    "historic-sell historic-sell graphic-sell ";
    gap: 20px;
    width: 90vw;
    height: 100%;
    background: #415a77;
}

@media (max-width: 850px) {
    .menu-container {
        width: 100vw;
        height: 5vh;
        position: static;
    }
    .nova-venda-container, .home-container, .menu {
        left: 0;
        width: 100vw;
    }

}


.dashboard-item.sell {
    grid-area: sell;
    width: 50%;
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    align-items:center;
    flex-direction:column;
    height: 150px;
    border: 3px solid #fff;
    box-shadow:-1px 1px 5px -1px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 6px;
}



.dashboard-item.products {
    grid-area: products;
    width: 100%;
    display: flex;
    text-align: center;
    align-items:center;
    flex-direction:column;
    height: 150px;
    border-radius: 6px;
    background-color: #fff;
    border: 3px solid #fff;
    box-shadow:-1px 1px 5px -1px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}
.dashboard-item.bestsellers {
    grid-area: best-sellers;
    font-size: 14px;
    width: 100%;
    display: flex;
    align-items:center;
    flex-direction:column;
    height: 400px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow:-1px 1px 5px -1px rgba(0, 0, 0, 0.5);
}
.dashboard-item.historic-sell {
    grid-area: historic-sell;
    font-size: 2vh;
    width: 100%;
    display: flex;
    align-items:center;
    flex-direction:column;
    height: 420px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 6px;
    box-shadow:-1px 1px 5px -1px rgba(0, 0, 0, 0.5);
}

.dashboard-item.graphic-sell {
    grid-area: graphic-sell;
    width: 100%;
    display: flex;
    align-items:center;
    background-color: #fff;
    flex-direction:column;
    height: 350px;
    border-radius: 6px;
    box-shadow:-1px 1px 5px -1px rgba(0, 0, 0, 0.5);
}

.dashboard-item.products h2 {
    font-size: 100%;
    opacity: 0.6;
}
.dashboard-item.sell h2 {
    opacity: 0.6;
    font-size: 100%;
}

.title-last-sales {
    text-align: center;
}
.title-last-sales span{
    opacity: 0.7;
}

.division_last_sales {
    width: 20px;
    height: 20px;
    color: red;
}

.table-historic-sells {
    width: 100%;

    border-radius: 4px;
}

.table-historic-sells th {
    border-bottom: 2px solid var(--dark-blue);
}

.table-historic-sells tr {
    text-align: center;
    font-size: 12px;
}
#columnchart_values {
    width: 70%;
    height: 100%;
}


.filter_graphics {
    display: flex;
}

.graphic-vendas-area {
    width: 100%;
    height:100%;
}
