@import "menu.css";
@import "home.css";
@import "auth.css";
@import "inputs-form.css";
@import "modal.css";

* {
    margin: 0;
}
:root {
    --dark-blue: #1d3557;
    --blue: #219EBC;
    --intense-blue: #0d6efd;
    --blue-clean: #4cc9f0;
    --light-blue: #8ECAE6;
    --snow-color: #edf6f9;
    --color-titles: #04e762;
    --white: #fff;
    --bg-content: #eaf4f4;
  }

body {
    font-family: 'Roboto';
    background-color: #415a77;
}

.nova-venda-container {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 200px);
    height: 100vh;
    overflow-x: hidden;
}

.nova-venda-title {

    margin-bottom: 10px;
    width: 100%;
    background-color: var(--color-titles);
    text-align: center;
    font-size: 25px;
}

.mini-dashboard-container {
    display: flex;
    height: 20vh;
    justify-content: space-around;
    align-items: center;
}

.sales-today {
    display: flex;
    justify-content: center;
    box-shadow:-1px 1px 5px -1px rgba(0, 0, 0, 0.5);
    background-color: var(--white);
    width: 40%;
    height: 150px;
    border:1px solid #70e000;
    border-radius: 10px;

}



.content-container {

    display: flex;
    justify-content: space-around;
    align-items: center;

}


.nova-venda-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 900px;
    position: relative;
    left: 10vw;
    background-color: #415a77;
}

.default-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    left: 10vw;
    background-color: #415a77;
}

@media (max-width: 850px) {

    .nova-venda-container, .menu, .default-container {
        left: 0;
        width: 100vw;
    }

}

.box-nova-venda {
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: space-around;
    flex-direction: column;


}

.container-insert {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.top-buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.default-button-1 {
    padding: 8px;
    cursor: pointer;
    background-color: #198754;
    color: var(--white);
    text-align: center;
    border: 0;
    width: 20%;
    border-radius: 4px;

}
.default-button-1 a:visited {
    color: var(--white);
}

.default-button-2 {
    cursor: pointer;
    padding: 3px;
    background-color: var(--intense-blue);
    color: var(--white);
    text-align: center;
    width: 50%;
    border: 0;
    border-radius: 4px;
}

a .default-button-2  {
    width: 100%;
}


.form:hover {
    background-color: var(--snow-color);
    color: #000;
    border: 1px solid var(--dark-blue);
    border-radius: 4px;
}

.inactive {
    background-color: var(--snow-color);
    color: #000;
    border: 1px solid #000;
}
.inactive:hover {
    background-color: var(--intense-blue);
    color: var(--snow-color);
}

.insert-product {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    padding: 20px;

    border-radius: 10px 10px 0px 0px;
}
.insert-product input {
    padding: 10px;
    width: 100%;
    font-family: 'Roboto';
    border: 0 none;
    border-radius: 4px;
    background-color: var(--white);
    border-bottom: 2px solid var(--blue-clean);
    outline: 0;
}
.box-nova-venda ul li {
    list-style: none;
    display: inline-block;
}

.pop-up-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pop-up {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    width: 300px;
    height: 150px;
    border-radius: 7px;
    border: 1px solid red;
    position: absolute;
    background-color: var(--white);
    text-align: center;
}

.search-container {
    width: 90%;
    display: flex;
    justify-content:center;
    height: 40px;


}

.product-form {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
    background: none;
    border-radius: 12px;
    height: 35px;
    width: 50%;
    font-size: 16px;
    border:2px solid #8D99AE;
    padding: 0;
    outline: 0;
    background-color: var(--white);
}
.search-btn {
    background-color: var(--intense-blue);
    width:50px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-btn img {
    height: 30px;
}

.table-products {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 50px;
    flex-direction: column;

}

.nova-venda {
    flex-direction: row;
    align-items: flex-start;
}

.nova-venda table {
    max-height: 200px;
}


.product-info-box {
    color:#000;
    background-color: #E0FBFC;
    border-radius: 115px 0px 0px 15px;
    display: flex;
    flex-direction: column;
    box-shadow:-1px 1px 5px -1px rgba(0, 0, 0, 0.5);
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 500px;
}

.product-info-style {
    border: 2px solid #76C893;
    border-radius: 9px;
    background-color: #98C1D9;
    width: 200px;
    box-shadow: 0 0 0 3px #76C893;
    box-shadow:-1px 1px 5px -1px rgba(0, 0, 0, 0.5);

}
.product-photo img, .product-photo{
    width: 200px;
    height: 200px;
    border-radius: 9px;
}


@media (max-width: 850px) {

    .nova-venda {
        flex-direction: column;
    }

    .product-info-box {
         width: 100%;
         border-radius: 0;
    }

}
.table-products table {
    background-color: var(--white);
    border-top: 1px solid black;
    width: 95%;
    border-collapse: collapse;
    text-align: center;
    display: block;
    max-height: 70vh;
    box-shadow:-1px 1px 5px -1px rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    text-align: center;

}
.nova-venda table {
    max-height: 500px;
}

table::-webkit-scrollbar {
    width: 3px;
}

table::-webkit-scrollbar-thumb {
   background-color: #0B8FF9;
}

.table-products th {
    color: var(--white);
    background-color: #343a40;
    font-size: 12px;
    position: sticky;
    top: 0;
    width: 300px;
    padding: 10px;
}

.oddelement {
    background-color: #e5e5e5;
}

.table-products td {
    font-size: 14px;
    padding: 10px;
    height: 70px;
    width: 8%;
    font-family: 'Segoe UI';

}

.final-box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    background-color: var(--white);
    box-shadow:-1px 1px 5px -1px rgba(0, 0, 0, 0.5);

}

.final-new-sale-box {
    text-align: center;
    width: 80%;


}

/*Produtos*/
.alterButt {
    color: green;
    margin-right: 5px;
}
.removeButt {
    color: red;
}

/*Controle de estoque*/

.default-box {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #dee2e6;

}

.border-table {
    background: #fff;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    max-height: 800px;
    box-shadow:-1px 1px 10px -1px rgba(0, 0, 0, 0.5);
}

.top-border-table {
    padding: 20px;
    display: flex;
    justify-content: space-between;

    align-items: center;
}
.top-border-table form {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.top-buttons {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.all-products-box {
    border: 1px solid red;
    height: 20vh;
    width: 80vw;
}

.campos-search {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px 10px 0px 0px;
}

.campos-products {
    width: 100%;
    height: 40px;
    display: flex;


    align-items: flex-start;
    border-radius: 10px 10px 0px 0px;
}

.campos-product span {
    color:white;
}
.add-product-form {
    width:100%;
}
.change-product {
    padding: 8px;
    background-color: #fb8500;
    color: var(--white);
    text-align: center;
    width: 10%;
    border-radius: 4px;

}


.alter-product, .add-quantity {
    width: 100%;
    height: 100vh;
}


.box-found-items-find {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.box-found-items-add {
    height: 50vh;
}

.add-stock-box{
    display: block;
    height: 50vh;
}

.warn, .warnerror {
    display: none;
    padding: 8px;
    border: 1px solid #0f5131;
    width: 50%;
    text-align: center;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: #d1e7dd;
    color: #0f5132;
}

.warnerror {
    color: #842029;
    text-align: center;
    display: none;
    flex-direction:column;
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
}

/* Estilização dos icones de açao */

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.2s ease-out;
}
.remove {
    background-color: #e63946;
}
.edit {
    background-color: #6c757d;
}
.circle.remove:hover {
    animation: slowcolor 0.4s ease;
    background-color: #c1121f;
}

.circle.edit:hover {
    background-color: #99d98c;
}

.actions-container {
    display: flex;
    flex-direction:row;
    align-items:center;
}



/*Fim da estilização dos icones de ação*/

.texterror {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color: red;
}

.warn-container {
    display: flex;
    width: 90%;
    justify-content: center;
}
.name-page {
    padding: 20px;
}


.paginate nav ul{
width: 80vw;
display: flex;
justify-content: center;
list-style: none;

}
.paginate nav ul li, .paginate nav ul li:visited {
    padding: 5px;
    text-decoration: none;
    margin: 5px;
    color: black;
}

.active {
    background-color: var(--snow-color);
    color: #90e0ef;
    border-radius: 4px;
}


/*Contas*/
.container-options {
    display: flex;
    width: 100%;
    justify-content: center;

}
.container-options .default-button-2, .default-button-2 {
    width: 20%;
    margin: 20px;
    text-align: center;
}

.secondary-warn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.secondary-warn {
    border: 1px solid #d3d6d8;
    background-color: #e2e3e5;
    color: #41464b;
    border-radius: 0.375rem;
    padding: 10px;
}

.record-count {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.editing-top {
    width: 100%;
    display: flex;
    border-radius: 7px 7px 0px 0px;
    justify-content: center;
    background-color: #0B8FF9;
    color: var(--white);
}

.options-stock-container {
    display: flex;
    width:100%;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

.box-options-stock {
    width: 100%;
}

.select {
padding: 5px;
width: 20%;
background-color: var(--white);
}

.select:hover {
    background-color: #fb8500;
}

.invoicestatus {
    padding: 10px;
    border: 2px solid #fb8500;
    border-radius: 7px;
    outline: 0;
}

option {
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #fb8500;
}

